body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgb(234, 234, 202);
}

.container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo,
img {
  width: 350px;
  height: 90px;
}
#reader {
  width: 400px;
  display: flex;
}
#result {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.qrReader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: end;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 10px;
  padding-bottom: 10px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
